<div class="row container">
    <div class="col-3">
     <app-sidebar></app-sidebar>
    </div>
    <div class="col-6">
        <h1>Ingreso de Ventas x Día</h1>
        <hr>
        <form autocomplete="off"
        [formGroup]="ventasForm"
        >
           <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Fecha</span>
            <input type = "date" name = "date" formControlName="fecha"> &nbsp;&nbsp;
            <button (click)="insertarVentas();" type="button" class="btn btn-success"><i class="fa-sharp fa-solid fa-arrow-right"></i>Aperturar</button>

           </div>

          <div class="input-group mb-3">
            <select class="form-select" aria-label="Default select example" formControlName="id_negocio">
                <option value="{{negocio.id_negocio}}" *ngFor="let negocio of negocios" >{{negocio.negocio}}</option>
               
              </select>
          </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Venta</span>
                <input type="number" class="form-control" placeholder="Q ." formControlName="monto" aria-describedby="basic-addon1">
            </div>
            
              
              
              
            <div class="input-group mb-3">
                <button (click)="guardarDetalle();" class="btn btn-info"><i class="fa-regular fa-floppy-disk"></i>&nbsp; Guardar</button>
            </div>
            
            
        </form>

        <div>
            <table class="table table-dark table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Fecha</th>
                        <th>Negocio</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of detVentas">
                        <td>{{data.idventas}}</td>
                        <td>{{data.monto}}</td>
                        <td>{{data.monto}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="col-2">
<h1>Totales</h1>
<hr>
    </div>
</div>

<!--  -->